body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #8B0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #800000;
}

#lastAccess {
  margin-top: 20px;
}
